{% extends "model-page.html" %}

{% block title%}
    <title>Login</title>
{% endblock %}

{% block content %}

    <form action="submit" method="POST" aling='center'>{% csrf_token %}
        <div align="center">
            <h2>Faça login para acessar sua agenda!</h2>
            <label>Usuario:</label>
            <input type="text" name="username">
            <br>
            <label>Senha:</label>
            <input type="password" name="userpassword">
            <br>
            <button type="submit">Entrar</button>  
        </div>      
    </form>
    {% for message in messages %}
    <div align="center">
        {{ message }}
    </div>
    {% endfor %}
    
{% endblock %}